.ContainerUserC
    margin-top: 4em
.Title-Register
    color: green
    margin-bottom 1.5em
    &:hover
        color: darkgreen
.BTN
    margin-top: 0.5em
.InputRegister
    margin-bottom 0.9em
.Registry-formTextArea
    margin-bottom 12.7em

.ContainerCreate
    background: #E6E6E6
    margin-bottom 8em
    padding-bottom 3em
    padding-top 2em