
<section class="Userupdate-profileSeccion">
  <div class="Userupdate-containerTitle">
    <h2 class="Userupdate-tittle"> Gestion de cuenta</h2>
  </div>
  <div class="Userupdate-productUser">
    <div class="Userupdate-dividir"></div>
    <div class="Userupdate-informationContainer" >


      <form class="Userupdate-informationMenuContainer" ng-submit="vm.update()" novalidate>
        <input class="Userupdate-inputContainer" ng-model="vm.user.name" placeholder="Nombre" >
        <input class="Userupdate-inputContainer" ng-model="vm.user.lastname" placeholder="Apellidos" >
        <input class=" Userupdate-inputContainer" ng-model="vm.user.identification" placeholder="Numero de documento" >
        <input  class="Userupdate-saveButtom"type="submit" name="" value="Guardar cambios ">
      </form>
      <div class="Userupdate-dividirForm"></div>
    </div>
  </div>
</section>
