.TableContainer
  overflow-x auto

.Vehiculos
  text-align center
  margin-bottom 42px



.Table
  margin-left auto
  margin-right auto
  border 2px


.Table, th,td
  border 1px solid black
  border-style ridge

h3
  text-align center

.Navbar-containerMainMenu
  display inline-block
  width 50%
  height 45%
  position relative
  top 24px
  text-align center

.Navbar-mainMenu
  position relative
  top 0%
  line-height 3.75em
  text-align center
  display inline-block
  height 100%
  width 100%

.Navbar-mainMenuList
  margin  0
  font-size 1.5em
  display inline-block
  padding 0
  width 100%
  position relative
  height 100%
  list-style-type: none;
  margin 0
  padding 0
  overflow hidden
  border 1px solid #e7e7e7
  background-color #f3f3f3

.Navbar-mainMenuItem
  display inline-block
  padding-right 0%
  z-index 1000
  width 49%
  height 100%
  position relative
  right 0%

.Navbar-mainMenuItemActive
  display inline-block
  padding-right 0%
  z-index 1000
  width 49%
  height 100%
  position relative
  right 0%
  background-color #f15e25
  color white

.Navbar-mainMenuItem:hover
  background-color #555
  color white

.Navbar-mainMenuItemActive:hover
  background-color #555
  color white

.Navbar-mainMenuLink
  text-align center
  font-size 14px
  text-decoration none
  color #f15e25 !important
  position relative
  height 100%
  bottom 25%
  display block
  text-align center
  text-decoration none !important

.Navbar-mainMenuLink1
  text-align center
  font-size 14px
  text-decoration none
  color white !important
  position relative
  height 100%
  bottom 25%
  display block
  text-align center
  text-decoration none !important

.Navbar-mainMenuLink:hover
  color white !important

.User-listContainer
  text-align center

@media (max-width: 1219px)
  .Navbar-mainMenuItem
    display inline-block
    padding-right 0%
    z-index 1000
    width 49%
    height 100%
    position relative
    right 0%

  .Navbar-mainMenuItemActive
    display inline-block
    padding-right 0%
    z-index 1000
    width 49%
    height 100%
    position relative
    right 0%
    background-color #f15e25
    color white

@media (max-width: 768px)
  .Navbar-mainMenuItem
    display block
    text-decoration none
    width 100%

  .Navbar-mainMenuItemActive
    display block
    text-decoration none
    width 100%
    background-color #f15e25
    color white

  .Navbar-containerMainMenu
    display inline-block
    width 28%
    height 45%
    position relative
    bottom 11%

  .Navbar-containerMainMenu
    display inline-block
    width 100%
    height 45%
    position relative
    bottom 11%

.UserListMargin
  margin-bottom 14em