.SlideMargin
  width: 100%
  margin-left 0
  margin-right 0
.CarouselPadding
  padding: 0
.InfoContainer
  padding-top: 1em
  background-color: #fafafa

.InfoContainer h4
  margin: 1em 0
  color #99c84a
  font-weight: bold
.InfoContainer img
  margin: 0 auto
