.Login-user
    position relative
    right 6.4%
    top 1.4%
    color: white


.Login-lock
    position relative
    right 6.4%
    top 1.4%
    color: white


.RecoverPassword
  display inline-block
  color azure
  font-weight bold


.RecoverPassword:hover
  color #ef4300
  text-decoration none

.RegistryLogin
  display inline-block
  color azure
  font-weight bold


.RegistryLogin:hover
  color #ef4300
  text-decoration none

.PasswordView
  display flex
  justify-content center
// formulario hecho
.InputLoginIcon
    background-color: gray

.formulario{
        transition: 2s
        margin-top: 20px
        margin-bottom 20px
        width: 30%;
        box-shadow: 0px 0px 40px rgba(213,0,0 ,1),0px 0px 80px rgba(256,256,256 ,1);
       
    }
.FondoLogin{
  background url(../assets/images/4.jpg)
  background-size: 100%
  background-repeat: no-repeat
  padding-top:3em
  padding-bottom 5em
}
    .formulario:hover{
        transition: .8s;
        background-color: rgba(0,0,0,.5);
    }


.logo
    height: 75px
    margin-top: 40px

    
 .espaciado
    margin-top: 40px


    fieldset{
        transition: 2s;
        margin-bottom: 50px;
        border-color: rgba(213,0,0 ,1);
        border-style: groove;
        border-width: 5px;
        border-radius: 20px;
    }
    


   h3,h4{     
        color:white;
        text-align: center;
        font-family: fuentechida;
    }
  
    .Input{
        transition: .8s;
        background-color: rgba(0,0,0,.5);
        color: white;
        border-color:#006;
	border-bottom-color:white;
        border-bottom-style:groove;
	border-left:none;
	border-right:none;
	border-top:none;
        border-width: 4px;
        
    }

    .Input:hover{
        transition: .8s;
        color: white
	    box-shadow:inset;
	}
    
    .Input:focus{
        transition: .8s;
	border-bottom-color:white;
    }

.RecoverPassword
    padding-top: 8px

.CheckBox:hover
    color: white

@media screen and (max-width:950px) {                
        .formulario{
            transition: 2s;
            width: 50%;
            margin-top: 10px;
        }       
    }
@media screen and (max-width:800px) {       
        .FondoLogin{
          padding-top: 9px
        }
    }

@media screen and (max-width:763px) {       
        .FondoLogin{
          padding-top: 1.5em
        }
    } 
     @media screen and (max-width:580px) {        
        .formulario{
            transition: 4s;
            width: 70%;
            margin-top: 10px;
        }
        .FondoLogin{
          padding-top: 2px;
        }
        .LogiTitle{
            font-size: 21px
        }
    }

@media screen and (max-width:515px)
    .FondoLogin
        background-size: 42em