.Login-body
    background #f8f8f8
    font-family 'PT Sans', Helvetica, Arial, sans-serif
    text-align center
    color #fff

.Login-pageContainer
  background-image url(../../../assets/images/Login/fondo.jpg)
  background-size 100% 100%
  height 49em
  display inline-block
  width 100%

.Login-title
  font-size 30px
  text-shadow 0 1px 4px rgba(0,0,0,.2)
  margin-top 0


.Login-form
    display inline-block
    width 25%
    height 40%
    text-align center
    position relative
    top 25%

.Login-input
    width 69%
    height 14%
    padding 0 20px
    background rgba(45, 45, 45, 0.56)
    border-radius 6px
    border 1px solid #3d3d3d
    border 1px solid rgba(255,255,255,.15)
    box-shadow 0 2px 3px 0 rgba(0,0,0,.1) inset
    font-family 'PT Sans', Helvetica, Arial, sans-serif
    font-size 14px
    color #fff
    text-shadow 0 1px 2px rgba(0,0,0,.1)
    transition all .2s
    display inline-block
    margin 14px 0

.Login-button
  cursor pointer
  width 68%
  height 15%
  margin-top 5%
  padding 0
  background #ef4300
  border-radius 6px
  border 1px solid #ff730e
  box-shadow 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2)
  font-family 'PT Sans', Helvetica, Arial, sans-serif
  font-size 14px
  font-weight 700
  color #fff
  text-shadow 0 1px 2px rgba(0,0,0,.1)
  transition all .2s
  position relative
  right 2%


.Login-user
    font-size 25px
    position relative
    right 6.4%
    top 1.4%
    opacity 0.6

.Login-lock
    font-size 25px
    position relative
    right 6.4%
    top 1.4%
    opacity 0.6


.Login-containerTitle
    display block
    position relative
    top 9em
    text-align center
    width 100%

.Login-containerForm
      display inline-block
      width 100%
      height 100%


.RecoverPassword
  display inline-block
  color azure
  font-weight bold


.RecoverPassword:hover
  color #ef4300
  text-decoration none

.RegistryLogin
  display inline-block
  color azure
  font-weight bold


.RegistryLogin:hover
  color #ef4300
  text-decoration none

.PasswordView
  display flex
  justify-content center

@media screen and (max-width 800px)
  .Login-user
      font-size 25px
      position relative
      right 9.4%
      top 1%
      opacity 0.6

  .Login-lock
     font-size 25px
     position relative
     right 9.4%
     top 1%
     opacity 0.6

   .Login-form
     display inline-block
     width 35%
     height 33%
     text-align center
     position relative
     top 25%


@media screen and (max-width 700px)
  .Login-form
    display inline-block
    width 49%
    height 43%
    text-align center
    position relative
    top 25%

   .Login-button
     cursor pointer
     width 55%
     height 10%
     margin-top 5%
     padding 0
     background #ef4300
     border-radius 6px
     border 1px solid #ff730e
     box-shadow 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2)
     font-family 'PT Sans', Helvetica, Arial, sans-serif
     font-size 14px
     font-weight 700
     color #fff
     text-shadow 0 1px 2px rgba(0,0,0,.1)
     transition all .2s
     position relative
     right 2%



@media screen and (max-width 550px)
  .Login-form
    display inline-block
    width 64%
    height 42%
    text-align center
    position relative
    top 25%


@media screen and (max-width 400px)
  .Login-input
       width 69%
       height 14%
       padding 0 20px
       background rgba(45, 45, 45, 0)
       box-shadownone
       border none
       border-top none
       border-left none
       border-right none
       border-radius 3%
       border-bottom 3px solid #a8a69d
       font-family 'PT Sans', Helvetica, Arial, sans-serif
       font-size 14px
       color #fff
       text-shadow 0 1px 2px rgba(0,0,0,.1)
       transition all .2s
       display inline-block
       margin 14px 0

  .Login-form
       display inline-block
       width 83%
       height 42%
       text-align center
       position relative
       top 25%
